<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
    name="description"
    content="Hóllarisá: The ultimate restaurant app for seamless dining. Discover, reserve, and enjoy unforgettable culinary experiences with ease.">

    <link rel="apple-touch-icon" href="/icons/icon-192x192.jpg">
    <link rel='icons' href='./hollarisa.jpg'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#0B4619"/>
    <link rel="manifest" href="./app.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Hóllarisá</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1>Hóllarisá</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#/like">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/widha-astianna-252b861b5">About Us</a></li>
        </ul>
    </nav>
    </header>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Welcome to Hóllarisá</h1>
            <p class="hero__tagline">"Indulge in Exquisite Culinary Experiences with Hóllarisá: Your Ultimate Restaurant App!"</p>
        </div>
    </div>
    <main id="mainContent"></main>
    <footer>
        <p>Copyright© 2023 - Hóllarisá</p>
    </footer>
</body>
</html>